# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master
pool:
  default

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

steps:

- task: Docker@2
  inputs:
    containerRegistry: 'docker-raniproject2'
    repository: 'reddyrani/devops'
    command: 'buildAndPush'
    Dockerfile: 'Dockerfile'
